.cardlist {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 5vh;
}

@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');
}

.cardlist .slick-dots li button:before {
font-size: 2vh;
margin-top: 2vh;
}
.cardlist .slick-dots li{
  width: 3vw;
}
#boardTable input {
  width: 100%;
  text-align: center;
  min-height: 5vh;
}

#boardTable textarea {
  width: 100%;
  text-align: center;
}

#boardTable td {
  text-align: center;
  align-items: center;
  width: 80vw;
}
#boardTable th {
  text-align: center;
  align-items: center;
  font-size: 3vh;
  width: 10vw;
}
#boardTable {
  border-collapse: separate;
  border-spacing: 2vw 2vh; /* 3% of the viewport width and 3% of the viewport height */
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  white-space: nowrap;
  font-size: 3vh;
height: 50vh;  
width: 50vw;
}
.date_text{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 5vh;
  margin-bottom: 3vh;
}
hr{
  border-top: 0.7vh dashed #2ccec9;
   opacity: 1;
}
.board_modal{
  position: absolute;
  top:10vh;
  background-color: #ffffff;
  width: 50vw;
  min-height: 80vh;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 1vw #d3d3d3;
  border-radius: 1vw;
  color: #595959;
}
.board_modal button {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2ccec9;
  color:#ffffff;
  border: none;
  width: 10vw;
  height: fit-content;
  font-size: 4vh;
  border-radius: 0.5vw;
  font-family: 'ELAND_Nice_M';
}
.board_card .board_modalText{
  font-size: 6vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}
.boardadd_modalText{
  margin-left: 5vw;
  font-size: 6vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

.board_modal .board_modalText{
  font-size: 6vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}
.board_modal span{
  font-size: 4vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
.board_modal p{
  font-size: 3vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: 'ELAND_Nice_M';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.reject_board {
  cursor: pointer;
  width: 3vw;
  float: right;
  margin-right: 1vw;
  margin-top: 1vh;
}

.card-center{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 4vh;
  width: 22vw;
  border: 0.5vh #595959 solid;
}
.card-menu-image{
  width: 15vw;
  height: 15vw;
  object-fit: cover;
}
